
MFSEngine/.vs/MFSEngine/v16/.suo
MFSEngine/.vs/MFSEngine/DesignTimeBuild/.dtbcache.v2
*.pdb
MFSEngine/.vs/MFSEngine/v16/.suo
MFSEngine/MFSEngine/obj/Debug/net5.0/MFSEngine.csproj.FileListAbsolute.txt
MFSEngine/MFSEngine/obj/Debug/net5.0/MFSEngine.csproj.FileListAbsolute.txt
MFSEngine/MFSEngine/obj

.fake
.ionide
MFSEngine/MFSEngine/bin/Debug/net5.0/MFSEngine.dll
MFSEngine/MFSEngine/bin/Debug/net5.0/MFSEngine.exe
MFSEngine/MFSEngine/bin/Debug/net5.0/MFSEngine.pdb
MFSEngine/MFSEngine/bin/Debug/net5.0/MFSEngine.runtimeconfig.dev.json
MFSEngine/MFSEngine/bin/Debug/net5.0/ref/MFSEngine.dll
MFSEngine/MFSEngine/obj/MFSEngine.csproj.nuget.dgspec.json
MFSEngine/MFSEngine/obj/MFSEngine.csproj.nuget.g.props
MFSEngine/MFSEngine/obj/project.assets.json
MFSEngine/MFSEngine/obj/project.nuget.cache
MFSEngine/MFSEngine/obj/Debug/net5.0/apphost.exe
MFSEngine/MFSEngine/obj/Debug/net5.0/MFSEngine.assets.cache
MFSEngine/MFSEngine/obj/Debug/net5.0/MFSEngine.csproj.AssemblyReference.cache
MFSEngine/MFSEngine/obj/Debug/net5.0/MFSEngine.csproj.CoreCompileInputs.cache
MFSEngine/MFSEngine/obj/Debug/net5.0/MFSEngine.csproj.FileListAbsolute.txt
MFSEngine/MFSEngine/obj/Debug/net5.0/MFSEngine.dll
MFSEngine/MFSEngine/obj/Debug/net5.0/MFSEngine.GeneratedMSBuildEditorConfig.editorconfig
MFSEngine/MFSEngine/obj/Debug/net5.0/MFSEngine.genruntimeconfig.cache
MFSEngine/MFSEngine/obj/Debug/net5.0/MFSEngine.pdb
MFSEngine/MFSEngine/obj/Debug/net5.0/ref/MFSEngine.dll
MFSEngine/MFSEngine/bin/Debug/net5.0/MFSEngine.deps.json
MFSEngine/MFSEngine/bin/Debug/net5.0/MFSEngine.runtimeconfig.json
.vscode/launch.json
.vscode/tasks.json
MutualFriendSuggestion/MFSEngine/DAL/bin
MutualFriendSuggestion/MFSEngine/DAL/obj
