
MFSEngine/.vs/MFSEngine/v16/.suo
MFSEngine/.vs/MFSEngine/DesignTimeBuild/.dtbcache.v2
*.pdb
MFSEngine/.vs/MFSEngine/v16/.suo
MFSEngine/MFSEngine/obj/Debug/net5.0/MFSEngine.csproj.FileListAbsolute.txt
MFSEngine/MFSEngine/obj/Debug/net5.0/MFSEngine.csproj.FileListAbsolute.txt
MFSEngine/MFSEngine/obj
